*, :after, :before {
  padding: 0;
  margin: 0;
  border: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

li, ol, ul {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: inherit;
  font-style: inherit;
}

body, html {
  height: 100%;
  line-height: 1;
  font-size: 16px;
  color: white;
}

article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  min-height: 100vh;
  background-image: url("../img/background.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
article #game {
  width: 300px;
  height: 300px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
  grid-template-columns: repeat(3, 1fr);
  -ms-grid-rows: (1fr)[3];
  grid-template-rows: repeat(3, 1fr);
  background-color: #0009;
}
article #game > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}
article #game > *:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
}
article #game > *:nth-child(3) {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
}
article #game > *:nth-child(4) {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
}
article #game > *:nth-child(5) {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
}
article #game > *:nth-child(6) {
  -ms-grid-row: 2;
  -ms-grid-column: 3;
}
article #game > *:nth-child(7) {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
}
article #game > *:nth-child(8) {
  -ms-grid-row: 3;
  -ms-grid-column: 2;
}
article #game > *:nth-child(9) {
  -ms-grid-row: 3;
  -ms-grid-column: 3;
}
article #game .block {
  width: 100px;
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid #ffffff96;
  font-size: 40px;
  text-transform: uppercase;
}
